.chat-forum-form
  %h1 新規チャットグループ
  = form_for @forum do |f|
    - if @forum.errors.any?
      .chat-forum-form__errors
        %h2= "#{@forum.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @forum.errors.full_messages.each do |message|
            %li= message
    .chat-forum-form__field
      .chat-forum-form__field--left
        = f.label :name, "グループ名", class: 'chat-forum-form__label'
      .chat-forum-form__field--right
        = f.text_field :name, class: 'chat__forum_name chat-forum-form__input', placeholder: 'グループ名を入力してください'
    .chat-forum-form__field.clearfix
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化)のときに使用します
    .chat-forum-form__field.clearfix
      .chat-forum-form__field--left
        = f.label "チャットメンバー", class: "chat-forum-form__label"
      .chat-forum-form__field--right
        / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
        -# = f.collection_check_boxes :user_ids, User.all, :id, :name
        / この部分はインクリメンタルサーチ（ユーザー追加の非同期化)のときにも使用します
    .chat-forum-form__field.clearfix
      .chat-forum-form__field--left
      .chat-forum-form__field--right
        = f.submit class: 'chat-forum-form__action-btn'